# Environment / secrets
.env
.env.*
!.env.example

# OS
.DS_Store

# Editors
.vscode/*
!.vscode/extensions.json

# Ansible
ansible/inventory/hosts.ini
ansible/group_vars/all/vault.yml
ansible/group_vars/*/vault.yml
*.retry
